extends layout

block content
  h1= title
  p This view has 2 sections: <strong>Simulate Order</strong> and <strong>Approve Orders</strong>

  hr

  #container_simulate
    h3 Simulate Order
    p Click the button to generate a fake order and start a new state machine execution: 
      button#start_execution New Order

    h5 AWS Response

    #response_start 
      p Output here...

  hr

  #container_process
    h3 Approve Orders
    p Click the button to fetch up to 10 orders at a time from SQS: 
      button#get_pending_orders Get Orders
    p <i>Hint: if messages do not appear, it means they are in-flight and you have to wait until they are back in the Queue</i>

    h5 AWS Response

    #response_process
      p Output here...

    h4 Approval/Rejection Outcome
    
    #approval_process
      p Output here...
  
  hr